.Collapse {
    width: 75%;
    border-radius: 0.2em;
    transition: 0.3s;
}

.Collapse__header {
    background-color: #FF6060;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-radius: 0.5em;
    cursor: pointer;
}

.Collapse__title--big {
    font-weight: 400;
    font-size: 18px;
    padding: 5px 0;
    margin: 2% 0;
}

.Collapse__title--small {
    font-weight: 400;
    font-size: 16px;
    margin: 1% 0;
    padding: 1px 0;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
    .Collapse {
        width: 100%; 
    }

    .Collapse__header {
        font-size: 13px;
    }

    .Collapse__title--big {
        font-size: 12px;
        padding: 1px 0;
    }
    .Collapse__title--small {
        font-size: 12px;
        padding: 1px 0;
    }
}