.Collapse {
    width: 75%;
    /* background-color: #F6F6F6; */
    border-radius: 0.5em;
    transition: 0.3s;
    /* height: 100px; */
}

.Collapse__header {
    background-color: #FF6060;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    border-radius: 0.5em;
    cursor: pointer;
}

.Collapse__title {
    font-weight: 400;
    margin: 2% 0;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
    .Collapse {
        width: 100%; 
    }
    /* */
    .Collapse__header {
        font-size: 13px;
    }
}