.Footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 0 3% 0;
    margin-top: 2%;
}

.Footer__logo-wrap {
    width: 10%;
}

.Footer__logo {
    width: 100%;
}

.Footer__copyright {
    color:#fff;
    font-size: 20px; 
}

@media screen and (max-width: 768px) {
    .Footer__copyright {
        font-size: 15px; 
    }
}

@media screen and (max-width: 576px) {  
    .Footer {
        padding: 10% 5%;
    }
    .Footer__logo-wrap {
        width: 38%;
    }
    .Footer__copyright {
        font-size: 13px; 
    }
}