.Hashtags {
    display: flex;
    padding: 0;
    margin-top: 4%;
    font-size:15px;
    gap:2em;
}

.Hashtags li {
    background-color: #FF6060;
    padding: 3px 20px;
    color: #fff;
    text-align: center;
    border-radius: 0.9em;
}

/* @media screen and (max-width: 768px) {
} */

@media screen and (max-width: 576px) {
    .Hashtags li {
        padding: 0.5% 1%;
        font-size: 11px;
    }
}